.container {
  width: 300px;
  height: 215px;
  border-radius: 10px;
  font-family: "Rota-Black";
  background-color: #dcdce0;
  padding: 2px 30px 2px 30px;
  text-align: left;
}
h3 {
  margin-top: 1rem;
  margin-left: 3px;
  color: #2d2d2d;
  font-size: 21px;
}
.box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.play {
  margin-top: 0px;
  margin-bottom: -22px;
  color: #5448c8;
  font-size: 90px;
}
.part {
  font-size: 38px;
}
.playbtn {
  margin: 0px 12px 0px 12px;
  padding: 3px 14px 3px 14px;
  margin-top: -50px;
  border-radius: 6px;
  font-family: "Rota-Medium";
  background-color: #6dd0a5;
  color: white;
}
.total {
  display: flex;
  margin-left: 3px;
  border-left: 1px solid #999999;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 26px;
}
.total p {
  margin-top: 1rem;
  font-size: 14px;
  color: #6dd0a5;
}
.total h3 {
  margin-top: -1rem;
  color: #707070;
  font-weight: bolder;
  font-size: xx-large;
}
