<div class="container">
  <h3>Air Quality</h3>
  <div class="box">
    <div class="circle">
      <h2 class="qualityrate">72</h2>
    </div>
    <div class="container2">
      <div class="box1">
        <h2 class="rate">
          <i style="color: #6dd0a5" class="fas fa-arrow-up"></i>&nbsp;93
        </h2>
      </div>
      <hr class="part" />
      <div class="box2">
        <h2 class="rate">
          <i class="fas fa-arrow-down" style="color: #fbbd43"></i>&nbsp;61
        </h2>
      </div>
    </div>
  </div>
</div>
