.container {
  width: 300px;
  height: 215px;
  border-radius: 10px;
  font-family: "Rota-Black";
  background-color: var(--card-bg);
  padding: 2px 30px 2px 30px;
  text-align: left;
}

h3 {
  margin-top: 1rem;
  margin-left: 3px;
  color: var(--card-title);
  font-size: 21px;
}

.box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.circle {
  height: 120px;
  width: 120px;
  background-color: var(--primary-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-rate {
  font-size: 65px;
  color: white;
  padding: 1rem 1rem 0rem 1rem;
}

.primary-box {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.secondary-box {
  display: flex;
  align-items: center;
}

.part {
  color: var(--secondary-green);
  display: block;
}

.rate {
  font-size: xx-large;
  display: flex;
  color: var(--secondary-green);
  margin-left: 8px;
  padding-right: 35px;
}

.container-secondary {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
