/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Rota-Black";
  src: url("./assets/fonts/Rota/Rota-Black.otf");
}
@font-face {
  font-family: "Rota-Bold";
  src: url("./assets/fonts/Rota/Rota-Bold.otf");
}
@font-face {
  font-family: "Rota-Medium";
  src: url("./assets/fonts/Rota/Rota-Medium.otf");
}
@font-face {
  font-family: "Rota-Regular";
  src: url("./assets/fonts/Rota/Rota-Regular.otf");
}

:root {
  --card-bg: #dcdce0;
  --card-title: #2d2d2d;
  --primary-green: #6dd0a5;
  --secondary-green: #999999;
  --primary-blue: #5448c8;
}

body {
  background-image: linear-gradient(to top right, #f6f6f6, #eaeaf2);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
